<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>Class Manager</title>
        {% endblock %}
        <link rel="stylesheet" href="/layout.css">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
        <script src="https://kit.fontawesome.com/ad19321b82.js" crossorigin="anonymous"></script>
        {% block style %}
        {% endblock %}
    </head>

    <body>

        <header>
                <div class="links">
                    <a href="/" class="active">Teachers</a><a href="/students">Students</a>
                </div>
        </header>

        {% block section %}
        {% endblock %} 
      
    </body>
</html>