{% extends "layout.njk" %}

{% block head %}
    <title>Class Manager</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/index.css">
{% endblock %}

{% block section %}

    <p>em construção</p>

{% endblock %}