{% extends "layout.njk" %}

{% block head %}
    <title>Class Manager</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/create.css">
{% endblock %}

{% block section %}

    <div class="card">
        <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover "></section>
        <section class="details">

            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}}</div>
            </div>
            <div class="item">
                <div>Grau de escolariedade</div>
                <div>{{teacher.level}}</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>{{teacher.classroom}}</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                {% for subject in teacher.subject %}
                <span>{{subject}}</span>
                {% endfor %} 
            </div>
            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>

            <a href="#" class="button"=>Editar</a>

        </section>
    </div>

{% endblock %}